body {
    background-color: rgb(207, 202, 202);
}

.jumbotron {
    text-align: center;
    font-family: 'Oldenburg', cursive;
    font-weight: 900;
}

#trains th,
    td {
      display: inline-block;
      width: 20%;
      
    }
#train-container {
    width: 80%;
    margin-top: 20px;
    border-radius: 15px;
}
.train-image {
    background-image: url("../images/pexels-photo-258455.jpeg");
    background-repeat: no-repeat;
    background-size: cover; 
    height: 15%;
    border-radius: 15px;
    background-position: center;
    margin: 20px 0px 20px 0px auto;
    color: white;
}

.card-header {
    font-size: 30px;
    text-align: center;
    font-family: 'Oldenburg', cursive;
    
}